input,
textarea {
    font-family: "Helvetica Now Text", sans-serif;
    background-color: transparent;
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: transparent;
    background-color: rgba(236, 9, 39, 0.1);
    border: none;
}

.sct_contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.contact_d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 60vw;
}

.form {
    display: flex;
    flex-direction: column;
}

form input[type="submit"] {
    text-decoration: none;
    border: solid 1px transparent;
    background-color: #EC0928;
    color: #fff;
    padding: 8px 32px;
    text-transform: uppercase;
    font-weight: bold;
    transition-duration: 250ms;
    margin-bottom: 32px;
    width: fit-content;
    align-self: flex-end;
}

form input[type="submit"]:hover {
    border: solid 1px black;
    box-shadow: 2.5px 5px rgb(0, 0, 0);
    transition: 250ms;
    background-color: white;
    color: black;
    cursor: pointer;
}

form input[type="submit"]:active {
    color: inherit;
    transition: 0s;
    box-shadow: inherit;
    border: solid 1px black;
}