h2 {
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 32px;
}

.p_img {
    height: 100%;
    width: 100%;
    background-image: url(/assets/img/moliere.webp);
    position: absolute;
    opacity: 8%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.p_sct_top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_sct_top2 {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.p_div_top2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50%;
    padding: 5% 0;
}

/* .h1_top {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 32px 128px;
} */

.h2_top {
    text-align: center;
    font-size: 48px;
}

.p_top {
    font-size: 24px;
    text-align: justify;
}

.deco {
    background: #EC0928;
    height: 8px;
    width: 64px;
    align-self: flex-start;
    border-radius: 0 50%;
}

.deco2 {
    align-self: center;
    width: 96px;
}

.name {
    font-family: 'IM Fell English', serif;
    font-size: 32px;
}

/* .p_img_top {
    background-image: url(/assets/img/troupe.webp);
    height: 30vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
} */

.fa-angle-down {
    position: absolute;
    color: #EC0928;
    top: 80%;
    left: 50%;
}

.p_sct1 {
    background-color: #A9E5BB;
}

.p_sct2 {
    background-color: #EADAA2;
}

.p_sct3 {
    background-color: #B2A3B5;
}

.p_sct4 {
    background-color: #FFD046;
}

.p_img1 {
    background-image: url(/assets/img/cover-sephorapondi.webp);
    height: 65vh;
    width: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.p_txt1 {
    height: 65vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    text-align: justify;
}

.p_img2 {
    background-image: url(/assets/img/cover-noammorgensztern.webp);
    height: 65vh;
    width: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.p_txt2 {
    height: 65vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    text-align: justify;
}

.p_img3 {
    background-image: url(/assets/img/cover-michelvuillermoz.webp);
    height: 65vh;
    width: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.p_txt3 {
    height: 65vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    text-align: justify;
}

.p_img4 {
    background-image: url(/assets/img/cover-sulianebrahim.webp);
    height: 65vh;
    width: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.p_txt4 {
    height: 65vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    text-align: justify;
}

.p_bottom {
    height: 60vh;
    width: 100%;
    background-image: url(/assets/img/troupe.webp);
    opacity: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p_top:hover+.definition {
    display: block;
    color: white;
    font-size: 24px;
    background-color: #EC0928;
    text-align: center;
}

.definition {
    display: none;
}