body {
    background-color: rgba(236, 9, 39, 0.08);
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    height: 64px;
    width: 64px;
    transition-duration: 250ms;
    background-image: url(/assets/logo.svg);
}

.logo:hover {
    transition: 250ms;
    background-image: url(/assets/logo_black.svg);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: auto;
}

.menu>a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-decoration: overline transparent;
    transition-duration: 250ms;
}

.menu>a:hover {
    text-decoration: none;
    color: #EC0928;
    transition: 250ms;
    text-decoration: overline black;
}

.menu>a:active {
    color: green;
    transition: 0s;
}

video {
    object-fit: cover;
    height: 100vh;
    width: 40vw;
}

section {
    display: flex;
}

.left {
    background-image: url(/assets/moliere.webp);
    height: 100vh;
    width: 40%;
    background-size: cover;
    background-position: center;
}

.right {
    display: flex;
    height: 100vh;
    width: 60vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

.img {
    height: 100vh;
    width: 60%;
    background-image: url(/assets/moliere.webp);
    position: absolute;
    opacity: 8%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 128px;
    margin: 0;
}

p,
a {
    font-family: 'Poppins', sans-serif;
}

p.sub_title {
    font-size: 64px;
    margin: 0;
}

p.sub_title2 {
    font-size: 32px;
}

/* Bouton en savoir plus */

.right>a {
    text-decoration: none;
    border: solid 1px black;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 8px 32px;
    text-transform: uppercase;
    font-weight: bold;
    transition-duration: 250ms;
    margin-bottom: 32px;
}

.right>a:hover {
    background-color: white;
    border: solid 1px #EC0928;
    box-shadow: 2.5px 5px #EC0928;
    transition: 250ms;
    color: #EC0928;
}

.right>a:active {
    color: inherit;
    transition: 0s;
    box-shadow: inherit;
    border: solid 1px black;

}

footer {
    height: 64px;
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    padding: 0 3%;
    justify-content: space-between;
}

footer>p {
    margin: 0;
}

.icon {
    text-decoration: none;
    color: white;
}

.icon:hover {
    color: #EC0928;
}

.icon:active {
    color: green;
    transition: 0s;
}

.heart {
    color: #EC0928;
}